{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="fw-bold mb-5 text-center">biz bilan boglanish</h2>
        
        <div class="row g-5">

            <div class="col-md-7">
                <div class="card shadow-sm border-0 rounded-4 p-4 bg-light">
                    <h4 class="fw-bold mb-4 text-success">xat qoldirish</h4>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label fw-bold">Ismiz</label>
                            <input type="text" name="name" class="form-control rounded-pill px-3" placeholder="Muhammadyor" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Email</label>
                            <input type="email" name="email" class="form-control rounded-pill px-3" placeholder="example@gmail.com" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Mavzu</label>
                            <input type="text" name="subject" class="form-control rounded-pill px-3" placeholder="Taklif yoki shikoyat" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Xabar</label>
                            <textarea name="message" class="form-control rounded-4 px-3 py-2" rows="5" placeholder="Xabaringizni shu yerga yozing..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success w-100 py-2 fw-bold rounded-pill shadow-sm">Xatni jo'natish 🚀</button>
                    </form>
                </div>
            </div>


            <div class="col-md-5">
                <div class="card shadow-sm border-0 rounded-4 p-4 h-100 bg-white">
                    <h4 class="fw-bold mb-4 text-dark">malumotlar</h4>
                    <ul class="list-unstyled fs-6 lh-lg text-secondary">
                        <li class="mb-3">📍 <strong>Manzil:</strong> Toshkent shahri, mejic city</li>
                        <li class="mb-3">📞 <strong>Telefon:</strong> +998 90 123 45 67</li>
                        <li class="mb-3">✉️ <strong>Email:</strong> support@foodmart.uz</li>
                        <li class="mb-3">⏰ <strong>Ish vaqti:</strong> 24/7</li>
                    </ul>
                    <hr>
                    <div class="rounded-4 overflow-hidden shadow-sm mt-2">
                        <div class="bg-secondary text-white text-center py-5 fw-bold" style="height: 180px; line-height: 80px;">
                            google Maps Joylashuvi 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}